.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 2rem;
    margin: 1rem;
}
h2{
    border: 3px black dashed;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    font-style: italic;
}
button{
    cursor: pointer;
    border-radius:0.5rem;
    width: 8vw;
    height: 6vh;
}
.last{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}